mixin styles()
  link(rel='stylesheet', href='libs/normalize.min.css')
  link(rel='stylesheet', href='libs/fancybox/jquery.fancybox.min.css')
  link(rel='stylesheet', href='libs/jRange/jquery.range.css')
  link(rel='stylesheet', href='css/main.css')
